---
layout: base.njk
---
    <article>
      <div class="headline">
        <h1>{{ title }}</h1>
        <time datetime="{{ page.date | isoDate }}">{{ page.date | readableDate }}</time>
      </div>

{{ content | safe }}

      {% if itemHN %}
      <div class="comments">
        <a href="https://news.ycombinator.com/item?id={{ itemHN }}">Comments on Hacker News</a>
      </div>
      {% endif %}
    </article>
