
body {
  font-family: "PT Mono", monospace;
  background-color: #252525;
  color: #fff;
}

h1::before {
  content: '> ';
}

p {
  line-height: 1.2;
  margin: 1.2em 0;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
  margin-bottom: .5em;
  margin-left: 4ch;
}
li::before {
  display: inline-block;
  margin-left: -2ch;
  margin-right: 1ch;
  content: '*';
}

a {
  color: #9ce156;
  text-decoration: underline;
}

.container {
  padding: 5vh 10vw;
  max-width: 600px;
}

@keyframes blink {
  50% {
    opacity: 0.0;
  }
}

.pseudo-cursor {
  display: inline-block;
  height: 1.2em;
  width: 1ch;
  margin: 0 .2ch;
  vertical-align: text-bottom;

  background-color: #fff;

  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
