body {
  font-family: "Times New Roman", monospace;
  font-size: 20px;
  line-height: 1.5;

  color: black;
  overflow-y: scroll;
}

main {
  margin: 0px auto;
  max-width: 900px;
  padding: 0px 1rem;
}

time {
  font-style: italic;
  color: gray;
}

@font-face {
  font-family: 'FontWithASyntaxHighlighterLightOwl-Regular';
  src:
    url('./FontWithASyntaxHighlighterLightOwl-Regular.woff2')
    format('woff2')
  ;
}
code {
  font-family: "FontWithASyntaxHighlighterLightOwl-Regular", monospace;
  color: #2b2b2b;
}
pre:has(code) {
  line-height: 1.5rem;

  padding: 0rem 2rem;
  overflow-x: auto;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

header {
  text-align: right;
  padding: 1rem 0;
}
header img {
  height: 1em;
  vertical-align: middle;
  margin-right: .3em;
}

.headline h1 {
  margin: 0;
}
.headline {
  margin-bottom: 2.5rem;
}

.footnotes {
  font-size: 80%;
}
